html, body {
    height: 100%;
}
#game {
  float: left;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

#board {
  height: auto;
  float: left;
  background: #bbb;
}

.slot {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  float:left;
  background: #bbb;
}

.filled {
  background: #000;
  border: 1px solid #bbb;
}

.filled-drag {
  background: #000;
  opacity: 0.5;
  border: 1px solid #bbb;
}

.note {
  background: url('../img/cross.png') no-repeat 10px 10px;
  background-size: 30px;
}

.note-drag {
  background: url('../img/cross.png') no-repeat 10px 10px;
  background-size: 30px;
  opacity: 0.5;
}

#winMessage {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
}

#winMessage #message {
  margin-top: 45vh;
}

#newGame {
  color: #000;
}

.hints {
  float: left;
  box-sizing: border-box;

}

#hintsVertical {
  height: auto;
  float: left;
  background: #ddd;

}

#hintsVertical .hint {
  float: left;
  min-height: 100% !important;
  width: 50px;
  box-sizing: border-box;
  /* Internet Explorer 10 */
  -ms-flex-align:end;
  /* Firefox */
  -moz-box-align:end;
  /* Safari, Opera, and Chrome */
  -webkit-box-align: end;
  /* W3C */
  box-align:end;

  border-right: 1px solid #fff;
}



#hintsHorizontal {
  width: auto;
  float: left;
  background: #ddd;
}

#hintsHorizontal .hint {
  clear: both;
  height: 50px;
  border-bottom: 1px solid #fff;
}
.hint {
  padding: 5px;
  position: relative;
  box-sizing: border-box;
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

#mode {
  position: absolute;
  float: left;
}

#mode button {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  background: url('../img/pen.png');
  background-size: 46px;
  background-repeat: no-repeat;
}

button:focus {
  outline: none;
}



